h1 {
    font-size: 65px;
    text-align: center;
    font-weight: bold;
}

a.backButton {
    padding: 1px 6px;
    border: 1px outset buttonborder;
    height: 25px;
    width: 50px;
    border-radius: 3px;
    color: buttontext;
    background-color: buttonface;
    text-decoration: none;
    text-align: center;
}

section {
    width: 99%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 45px;
    border: 2px double lightgray;
    padding-bottom: 200px;
}

/* article h2 {
    text-align: center;
    width: 100%;
    border: 5px solid black;
    font-size: 35px;
    margin-bottom: -100px;

}
article h3 {
    text-align: center;
    width: 100%;
    border: 5px solid black;
    font-size: 35px;
    margin-bottom: -50px;
}

article p {
    margin-top: -200px;
    margin-bottom: -250px;
} */