
.main { 
    margin-top: 150px;
    display: flex;
    align-items: center;
    width: 98%;
    flex-wrap: wrap;
}
a {
    font-size: 35px;


}

h1 {
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
    align-self: center;
}
.content{
    flex: 1 0 auto;
    flex-direction: column;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}

img {
    width: 100%;
    height: auto;
}

form {
    text-align: center;
}
input {
    margin-bottom: 15px;
}
